@charset "utf-8";


body{
	background: linear-gradient(to right, #87db42 50%, #ff5100 50%, #ff5100 100%);
}

.left{
	background-repeat: no-repeat;
	width: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	opacity: 0;
}

.buttonA{
	width: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	opacity: 0;
}

.right{
	background: url();
	background-repeat: no-repeat;
	width:50%;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	opacity: 0;
}

.buttonB{
	width: 50%;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	opacity: 0;
}