@charset "utf-8";

body{
	background: linear-gradient(to right, #f2ffa6 50%, #3d2957 50%, #3d2957 100%);
}

.left{
	background-repeat: no-repeat;
	width: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	opacity: 0;
}

.buttonAB{
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;  
	opacity: 0;
}

.right{
	background-repeat: no-repeat;
	width: 50%;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	opacity: 0;
}

.buttonBA{
	width: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	opacity: 0;
}